{% extends 'main/base.html' %}
{% block title %}
    Analizator sentymentu komentarzy na Youtube
{% endblock %}
{% block content %}
<div class="flex-center text-center pt-10">
    <form method="post">
        {% csrf_token %}
        <input type="text" name="text" class="text-black rounded-xl border py-3 px-3 md:py-4 md:px-4 lg:py-5 lg:px-5 xl:py-6 xl:px-6 w-64 md:w-72 lg:w-80 xl:w-96" placeholder="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
        <button type="submit" class="hover:bg-transparent hover:border-cyan-950 hover:text-white duration-300 hover:border bg-cyan-950 rounded-xl text-white py-3 px-4 md:py-4 md:px-5 lg:py-5 lg:px-6 xl:py-6 xl:px-7 hover:scale-105"><b>Analizuj</b></button>
    </form>
    <div class="flex-center text-center pt-10 text-2xl">
        {% if sentiment.num_comments %}

            <h1>Liczba komentarzy: {{ sentiment.num_comments }}</h1>

            <ul>
                {% for kategoria, procent in sentiment.percents %}

                    {% if kategoria == "Pozytywny" %}
                        <li><span style="color: #06D6A0;">{{ kategoria }}</span> - {{ procent }}</li>
                   
                    {% elif kategoria == "Negatywny" %}
                        <li><span style="color: #EF476F;">{{ kategoria }}</span> - {{ procent }}</li>
                    
                    {% else %}
                        <li><span style="color: #7d8597;">{{ kategoria }}</span> - {{ procent }}</li>
                    {% endif %}

                {% endfor %}
            </ul>

            <h1>Najbardziej pozytywny komentarz: "{{ sentiment.most_pos_com }}"</h1>
            <h1>Najbardziej negatywny komentarz: "{{ sentiment.most_neg_com }}"</h1>
            
        {% else %}
            <h1> {{ sentiment.available }}</h1>
        {% endif %}
        
        <style type="text/css">
            .chart-container {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 400px; 
            }

            .chartBox {
                width: 80%;
                max-width: 650px;
            }
        </style>
        
        <div class="chart-container">
            <canvas id="myChart" class="chartBox"></canvas>
        </div>

        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <div id="plotly-chart"></div>
        
        <script>
            {{ plot_html|safe }}
        </script>


        <script>
            const ctx = document.getElementById('myChart');

            const labels = {{ sentiment.labels|safe }};
            const values = {{ sentiment.values|safe }};

            const backgroundColors = labels.map((label) => {
                if (label === 'Pozytywny') {
                    return '#06D6A0';
                } else if (label === 'Negatywny') {
                    return '#EF476F';
                } else if (label === 'Neutralny') {
                    return '#7d8597';
                } else {
                    
                    return 'rgb(128, 128, 128)';
                }
            });

            const data = {
                labels: labels,
                datasets: [{
                    data: values,
                    maintainAspectRatio: false,
                    backgroundColor: backgroundColors,
                    hoverOffset: 4
                }]
            };

            const config = {
                type: 'doughnut',
                data: data,
            };


            new Chart(ctx, config);
        </script>

        <br>
        <br>

        <div>
            {% if sentiment.num_comments %}
                {% load static %}
                <a href="{% static 'file.csv' %}" download="file.csv">
                    <button type="button" class="bg-cyan-950 hover:bg-transparent text-white font-bold py-2 px-4 rounded-full">Pobierz plik CSV</button>
                </a>
            {% endif %}

        </div>

        <br>
        <br>

        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                        {% for column in df.columns %}
                            <th scope="col" class="px-6 py-3">{{ column }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for index, row in df.iterrows %}
                        <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                            {% for value in row %}
                                <td scope="col" class="px-6 py-3">{{ value }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
</div>
{% endblock %}