{% extends 'main/base.html' %}
{% block title %}
    YouTube Comment Sentiment Analysis
{% endblock %}
{% block content %}
<div class="flex-center text-center pt-10">
    <form method="post">
        {% csrf_token %}
        <input type="text" name="text" class="text-black rounded-xl border py-3 px-3 md:py-4 md:px-4 lg:py-5 lg:px-5 xl:py-6 xl:px-6 w-64 md:w-72 lg:w-80 xl:w-96">
        <button type="submit" class="hover:bg-transparent hover:border-yellow-300 hover:text-white duration-300 hover:border bg-yellow-300 rounded-xl text-gray-800 py-3 px-4 md:py-4 md:px-5 lg:py-5 lg:px-6 xl:py-6 xl:px-7 hover:scale-105"><b>Analyse</b></button>
    </form>
    <div class="flex-center text-center pt-10 text-2xl">
        {% if sentiment.num_comments %}
        <h1>Number of comments: {{ sentiment.num_comments }}</h1>
        <h1>Percentage: {{ sentiment.sentiment_percentage }}</h1>
        <h1>Most positive comment: "{{ sentiment.most_pos_com }}"</h1>
        <h1>Most negative comment: "{{ sentiment.most_neg_com }}"</h1>
        {% endif %}
    </div>
</div>
{% endblock %}

