{% extends 'main/base.html' %}
{% block title %}
    Modele
{% endblock %}
{% block content %}

<div class="max-w-6xl mx-auto flex flex-wrap py-6 px-6 xl:px-0 ">

    <div class="lg:flex w-full mb-6 lg:mb-0">
        <div class="lg:w-3/5 order-last lg:order-first">
            <img src="{{ aimodel.image.url }}" class="rounded-xl w-full">
        </div>

        <div class="lg:w-3/5 lg:p-6 bg-cyan-950 text-center rounded-xl order-first lg:order-last">
            <h1 class="text-2xl">{{ aimodel.name }}</h1>
            <p class="mt-1 text-white-700">{{ aimodel.description }}</p>

            {% if aimodel.name == 'YT Sentiment Predictor' %}
                <a href="/yt_sentiment" class="mt-6 inline-block px-8 py-4 rounded-xl bg-white text-cyan-950 hover:bg-yellow-100">
                    <b>Przetestuj model</b>
                </a>
            {% else %}
                <a href="#" class="mt-6 inline-block px-8 py-4 rounded-xl bg-white text-cyan-950 hover:bg-yellow-100">
                    <b>Przetestuj model</b>
                </a>
            {% endif %}
        </div>
    </div>

</div>

{% endblock %}
