{% extends 'main/base.html' %}

{% block title %}
    O nas
{% endblock %}

{% block content %}
<div class="flex-center text-center mx-4 mt-10 sm:mx-20 md:mx-32 lg:mx-40">
    <h1 class="text-4xl sm:text-6xl font-semibold mb-4">O Nas</h1>
    <p class="text-sm sm:text-xl font-semibold leading-normal">
        Jesteśmy firmą założoną w roku 2023 roku specjalizującą się w dostarczaniu innowacyjnych rozwiązań z dziedziny Machine Learning.
    </p>
    <br>
    <br>
    <h2 class="text-2xl sm:text-4xl font-semibold mb-2">Nasza Misja</h2>
    <p class="text-sm sm:text-xl font-semibold leading-normal">
        Naszą misją jest dostarczanie zaawansowanych rozwiązań Machine Learning, które pomagają naszym klientom
        w osiąganiu wyjątkowych wyników biznesowych. Chcemy być liderem w branży, łącząc naukę z praktyką.
    </p>
    <br>
    <br>
    <h2 class="text-2xl sm:text-4xl font-semibold mb-2">Nasz Zespół</h2>
    <p class="text-sm sm:text-xl font-semibold leading-normal">
        Jesteśmy zespołem doświadczonych ekspertów w dziedzinie sztucznej inteligencji. Nasi pracownicy posiadają
        unikalne umiejętności i pasję do rozwiązywania skomplikowanych problemów przy użyciu najnowszych technologii.
    </p>
</div>
{% endblock %}
