{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src ="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}My Site{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css'%}"> 
</head>

<body>
    <div class="min-h-screen bg-[url('{% static 'images/background-very-big.jpg' %}')] bg-cover px-28 py-5">
        <nav class="flex items-center mx-auto">
            <img src="{% static 'images/logo.svg' %}" class="w-40 cursor-pointer">
            <ul class="flex-1 text-center list-none text-white font-semibold">
                <li class="inline-block px-5"><a href="/home" class="no-underline px-2 ">Home</a></li>
                <li class="inline-block px-5"><a href="/all_models" class="no-underline px-2 ">Models</a></li>
                <li class="inline-block px-5"><a href="#" class="no-underline px-2 ">About</a></li>
                <li class="inline-block px-5"><a href="#" class="no-underline px-2 ">Contact</a></li>
            </ul>
            <ul class = "flex items-center space-x-4 font-semibold text-white">
                <!--ODWOLANIE SIE DO ADRESU URL-->


                <!--OBSLUZENIE PRZYCISKU WYLOGOWANIA-->
                {% if request.user.is_authenticated %}
                <span>Logged as {{ user.username }}</span>
                <li><a href = "{% url 'logout' %}">Log Out</a></li>
                {% endif %}

                {% if not request.user.is_authenticated %}
                <li><a href = "{% url 'login' %}">Log In</a></li>
                {% endif %}
            </ul>
        </nav>

        <div class="text-white min-h-screen items-center justify-center">
            {% block content %}
            {% endblock %}
        </div>

    </div>


</body>
</html>
