{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src ="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}My Site{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css'%}"> 
</head>

<body>
    <div class="min-h-screen bg-[url('{% static 'images/background-very-big.jpg' %}')] bg-cover px-28 py-5">
        <nav class="flex items-center mx-auto">
            <img src="{% static 'images/logo.svg' %}" class="w-40 cursor-pointer">
            <ul class="flex-1 text-center list-none text-white font-semibold">
                <li class="inline-block px-5"><a href="/home" class="no-underline px-2 ">Home</a></li>
                <li class="inline-block px-5"><a href="/all_models" class="no-underline px-2 ">Models</a></li>
                <li class="inline-block px-5"><a href="#" class="no-underline px-2 ">About</a></li>
                <li class="inline-block px-5"><a href="#" class="no-underline px-2 ">Contact</a></li>
            </ul>
            <ul class = "flex items-center space-x-4 font-semibold text-white">
                <!--ODWOLANIE SIE DO ADRESU URL-->


                <!--OBSLUZENIE PRZYCISKU WYLOGOWANIA-->
                {% if request.user.is_authenticated %}
                <span>Logged as {{ user.username }}</span>
                <li><a href = "{% url 'logout' %}">Log Out</a></li>
                {% endif %}

                {% if not request.user.is_authenticated %}
                <li><a href = "{% url 'login' %}">Log In</a></li>
                {% endif %}
            </ul>
        </nav>

        <div class="text-white min-h-screen items-center justify-center">
            {% block content %}
            {% endblock %}
        </div>


    </div>

    <footer class="text-center text-blue-50 text-sm py-3 bg-cyan-950 w-full">
        <p class = "hover:text-gray-500 pb-3">&copy; 2023 YourWebsite.com. All rights reserved.</p>

        <ul class="text-left pl-28 flex flex-row space-x-4">
            <li class="mr-4">

                <a href="https://www.linkedin.com/" target="_blank" class="hover:text-gray-500">
                    <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1saW5rZWRpbiI+PHBhdGggZD0iTTE2IDhhNiA2IDAgMCAxIDYgNnY3aC00di03YTIgMiAwIDAgMC0yLTIgMiAyIDAgMCAwLTIgMnY3aC00di03YTYgNiAwIDAgMSA2LTZ6Ii8+PHJlY3Qgd2lkdGg9IjQiIGhlaWdodD0iMTIiIHg9IjIiIHk9IjkiLz48Y2lyY2xlIGN4PSI0IiBjeT0iNCIgcj0iMiIvPjwvc3ZnPg==" alt="Linkedin" />
                </a>

            </li>

            <li class="mr-4">
                
                <a href = "https://www.facebook.com/" target = "_blank" class="hover:text-gray-500">
                    <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1mYWNlYm9vayI+PHBhdGggZD0iTTE4IDJoLTNhNSA1IDAgMCAwLTUgNXYzSDd2NGgzdjhoNHYtOGgzbDEtNGgtNFY3YTEgMSAwIDAgMSAxLTFoM3oiLz48L3N2Zz4=" alt="Facebook" />
                </a>

            </li>
            <li class="mr-4">
                <a href = "https://twitter.com/?lang=pl" target = "_blank" class="hover:text-gray-500">
                <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS10d2l0dGVyIj48cGF0aCBkPSJNMjIgNHMtLjcgMi4xLTIgMy40YzEuNiAxMC05LjQgMTcuMy0xOCAxMS42IDIuMi4xIDQuNC0uNiA2LTJDMyAxNS41LjUgOS42IDMgNWMyLjIgMi42IDUuNiA0LjEgOSA0LS45LTQuMiA0LTYuNiA3LTMuOCAxLjEgMCAzLTEuMiAzLTEuMnoiLz48L3N2Zz4=" alt="Twitter"/>
                </a>
            </li>

            <li class="mr-4">
                <a href = "https://www.youtube.com/?hl=pl&gl=PL" target = "_blank" class="hover:text-gray-500">
                <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS15b3V0dWJlIj48cGF0aCBkPSJNMi41IDE3YTI0LjEyIDI0LjEyIDAgMCAxIDAtMTAgMiAyIDAgMCAxIDEuNC0xLjQgNDkuNTYgNDkuNTYgMCAwIDEgMTYuMiAwQTIgMiAwIDAgMSAyMS41IDdhMjQuMTIgMjQuMTIgMCAwIDEgMCAxMCAyIDIgMCAwIDEtMS40IDEuNCA0OS41NSA0OS41NSAwIDAgMS0xNi4yIDBBMiAyIDAgMCAxIDIuNSAxNyIvPjxwYXRoIGQ9Im0xMCAxNSA1LTMtNS0zeiIvPjwvc3ZnPg==" alt="Youtube" />
                </a>
            </li>
        </ul>

       
        <div class="flex justify-between">
            <ul class="text-left pl-28">
                <li class="mr-4 mt-7 mb-2 hover:text-gray-500"><a href="#">Polityka prywatności</a></li>
                <li class="mr-4 mb-2 hover:text-gray-500"><a href="#">Polityka cookies</a></li>
                <li class="mr-4 mb-2 hover:text-gray-500"><a href="#">Polityka prywatności HR</a></li>


            </ul>
                

            <ul class="text-right pr-28">
                <li class="mb-2 hover:text-gray-500" >Kontakt: 123 456 789</li>
                <li class="mb-2 hover:text-gray-500"><a href = "https://www.google.com/maps/place/Politechnika+Rzeszowska+im.+Ignacego+%C5%81ukasiewicza/@50.019034,21.989195,17z/data=!3m1!4b1!4m6!3m5!1s0x473cfbae554b096b:0xfb1f78d1a4df278d!8m2!3d50.019034!4d21.989195!16s%2Fm%2F0k0trzb?entry=ttu" target ="_blank">Adres: Aleja Powstańców Warszawy 12, 35-959 Rzeszów</a></li>
                <li class="mb-2 hover:text-gray-500"><a href = "https://github.com/PeWeX47" target ="_blank">Github1</a></li>
                <li class="mb-2 hover:text-gray-500"><a href = "https://github.com/PatrykW7" target ="_blank">Github2</a></li>
            </ul>
        </div>
    </footer>


</body>
</html>
