{% extends 'main/base.html' %}
{% block title %}
    Strona Główna
{% endblock %}
{% block content %}
<div class="mt-36 max-w-xl pl-12">
    <h1 class="text-6xl font-semibold leading-normal">Witaj w naszym<br>Świecie Sztucznej Inteligencji</h1>
    <br>
    <p><b>Dowiedz się, jak wykorzystać potęgę Machine Learning do rozwoju swojego biznesu.</b></p>

    <div class="mt-10">
        <a href="/all_models" class="bg-cyan-950 rounded-3xl py-3 px-8 font-medium inline-block
        mr-4 hover:bg-transparent hover:border-cyan-950 hover:text-white duration-300 hover:border border border-transparent"><b>Sprawdź nasze modele</b></a>
    </div>
</div>
{% endblock %}